<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Report System</title>
</head>
<body>

    <h1>Login Report System</h1>

    {% for machine, users in report.items() %}

        <div>
            <h2>{{ machine }}</h2>

            <ul>
                {% for user in users %}
                    <li>{{ user }}</li>
                {% endfor %}
            </ul>
        </div>

    {% endfor %}

</body>
</html>